{% extends "base.html" %}

{% block head_js %}
{% endblock %}

{% block header %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>    
          <a class="brand" href="../index.html">PlanIT Impact</a>
	      <div class="nav-collapse collapse">
	        <ul class="nav pull-right animated">
		        <li><a href="#">Home </a></li>
		        <li><a href="about">About</a></li>
		        <li><a href="features">Features</a></li>
		        <li><a href="howitworks">How it Works</a></li>
		        <li class="active"><a href="/demo.html">Demo</a></li>
	        </ul>
	      </div>
        </div>
      </div>
    </div>  
{% endblock %}

{% block main %}

	<div id="header">
	  <div class="container">  
	    <div class="row">
		  <div class="span12">
		    <h1>About PlanIT Impact</h1>
		  </div>
		</div>
	  </div>
	</div>

	<div class="container">
		<div class="row">
			<div class="span4">
				<form action="{{ url_for('demo') }}" method="post" enctype="multipart/form-data">
				  <fieldset>
				  	<legend>Upload a 3d model.</legend>
				    <input type="file" name="file">
				    <input type="text" name="description">
					<input type="submit" value="Upload your selected file" class="btn"> 
				  </fieldset>
				</form>
			</div>
			<div class="offset5">
				<h3>Or choose an existing project.</h3>
				<ol>
				{% for model in all_models %}
				    <li>
				    	<h3>{{ model.name }}</h3>
				    	<p>{{model.description}}</p>
				    	<a href="/{{ model.name }}/report/explore" class="btn btn-primary btn-action">Run Report</a>
				    </li>
				{% endfor %}
				</ol>
			</div>
		</div>
	</div>
{% endblock %}

{% block js_footer %}
{% endblock %}
