{% extends "base.html" %}

{% block head_js %}

<link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">

<script type="text/javascript" src="https://www.google.com/jsapi"> </script>
<script type="text/javascript">google.load("earth", "1");</script>

<script type="text/javascript">
    $(function() {
        var model_href = '{{ model.kmz_url }}';
        if (model_href === '')
            return;

        var ge;

        var init = function() {
            google.earth.createInstance("map3d", initCallback, failureCallback);
        };

        var building = null;
        var stormWater = null;

        var look_at = function(tilt) {
            var lookAt = ge.getView().copyAsLookAt(ge.ALTITUDE_RELATIVE_TO_GROUND);
            // hard code values
            lookAt.setLatitude(39.08969646201485);
            lookAt.setLongitude(-94.58089747657677);
            lookAt.setAltitude(0);
            lookAt.setTilt(tilt || 70);
            lookAt.setRange(230);
            lookAt.setHeading(70);

            ge.getOptions().setFlyToSpeed(0.3);
            // Update the view in Google Earth.
            ge.getView().setAbstractView(lookAt);
        };

        var showExplore = function() {
            if (stormWater) {
                ge.getFeatures().removeChild(stormWater);
            }

            if (building) {
                look_at();
                ge.getFeatures().removeChild(building);
                ge.getFeatures().appendChild(building);
            }
            else {
                google.earth.fetchKml(ge, model_href, function(kmlObject) {
                    if (kmlObject) {
                        building = kmlObject;
                        ge.getFeatures().appendChild(building);
                        look_at();
                    }
                });
            }

        };

        var showStormWater = function() {
            if (building) {
                ge.getFeatures().removeChild(building);
            }

            if (stormWater) {
                look_at(30);
                ge.getFeatures().removeChild(stormWater);
                ge.getFeatures().appendChild(stormWater);
            }
            else {
                $.ajax({
                    url: '/projects/{{ model.id }}/overlays/storm_water',
                    type: 'GET',
                    success: function(data) {
                        var kmlObject = ge.parseKml(data);
                        if (kmlObject) {
                            stormWater = kmlObject;
                            ge.getFeatures().appendChild(stormWater);
                            look_at(30);
                        }
                    },
                    error: function() {
                        alert('Can\'t load overlay');
                    }
                });
            }
        };

        var initCallback = function(object) {
            ge = object;
            ge.getWindow().setVisibility(true);
            ge.getOptions().setStatusBarVisibility(true);
            ge.getNavigationControl().setVisibility(ge.VISIBILITY_AUTO);
            ge.getLayerRoot().enableLayerById(ge.LAYER_BORDERS, false);
            ge.getLayerRoot().enableLayerById(ge.LAYER_ROADS, false);
            ge.getLayerRoot().enableLayerById(ge.LAYER_BUILDINGS, true);
            ge.getLayerRoot().enableLayerById(ge.LAYER_TERRAIN, true);

            showExplore();
        };

        var failureCallback = function failureCallback(object) {
          alert('Didn\'t work!');
        };

        google.setOnLoadCallback(init);

        $('a[data-report=explore]').click(function() {
            showExplore();
        });

        $('a[data-report=storm_water]').click(function() {
            showStormWater();
        });
    });



</script>
{% endblock %}

{% block header %}
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>    
	      <a class="brand" href="../index.html">PlanIT Impact</a>
	      <div class="nav-collapse collapse">
	        <ul class="nav pull-right animated">
		        <li><a href="/">Home </a></li>
		        <li><a href="/about">About</a></li>
		        <li><a href="/features">Features</a></li>
		        <li><a href="/howitworks">How it Works</a></li>
		        <li class="active"><a href="/demo">Demo</a></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	</div><!--/navbar-->  
{% endblock %}

{% block main %}
	<div class="container">
		<div class="row">
			<h1 class="title span6">{{model.name}}</h1>
            <div class="span6 share-buttons">
                <a href="/static/models/report.csv" class="btn btn-primary btn-large pull-right">
                        Export CSV
                </a>

                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-primary btn-large dropdown-toggle" data-toggle='dropdown'>
                        ← Share
                    </a>
                    <div class="dropdown-menu">
                        <textarea id="share-area" style="width: 300px; height: 30px;"></textarea>
                    </div>
                </div>
            </div>
		</div>
		<div class="row">	
			<!-- start: Main Menu -->
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#E" data-report='explore' data-toggle="tab"><i class="fa-icon-globe"></i><span class="hidden-tablet"> Explore</span></a></li>
                    <li><a href="#NI" data-toggle="tab"><i class="fa-icon-tint"></i><span class="hidden-tablet"> Water Usage</span></a></li>
                    <li><a href="#E" data-report='storm_water' data-toggle="tab"><i class="fa-icon-cloud"></i><span class="hidden-tablet"> Storm Water</span></a></li>
                    <li><a href="#NI" data-toggle="tab"><i class="fa-icon-bolt"></i><span class="hidden-tablet"> Energy Usage</span></a></li>
                    <li><a href="#NI" data-toggle="tab"><i class="fa-icon-leaf"></i><span class="hidden-tablet"> Greenhouse Gas</span></a></li>
                    <li><a href="#NI" data-toggle="tab"><i class="fa-icon-trash"></i><span class="hidden-tablet"> Waste Production</span></a></li>
                    <li><a href="#NI" data-toggle="tab"><i class="fa-icon-truck"></i><span class="hidden-tablet"> Transportation</span></a></li>
                    <li><a href="#NI" data-toggle="tab"><i class="fa-icon-home"></i><span class="hidden-tablet"> Building Density</span></a></li>
                    <li><a href="#NI" data-toggle="tab"><i class="fa-icon-sitemap"></i><span class="hidden-tablet"> Resource Flow</span></a></li>
                    <li><a href="#NI" data-toggle="tab"><i class="fa-icon-money"></i><span class="hidden-tablet"> Potential ROI</span></a></li>
                </ul>
                <!-- end: Main Menu -->

                <!-- start: Content -->
                <div id="content" class="tab-content">
                    <div class="tab-pane active" id="E">
                        <div id="map3d"></div>
                    </div>
                    <div class="tab-pane" id="WU">
                        \
                    </div>
                    <div class="tab-pane" id="SW">
                    </div>
                    <div class="tab-pane" id="NI">

                    </div>
                </div><!-- end: Content -->
            </div>
				
		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>
	</div><!--/container-->
</div>


    <script>

        $(function(){
            console.log(document.location.href);
            $('#share-area').val(document.location.href);
        });

    </script>

{% endblock %}

{% block js_footer %}
{% endblock %}