{% extends "base.html" %}

{% block head_js %}
<script type="text/javascript" src="https://www.google.com/jsapi"> </script>
	<script type="text/javascript">

		var ge;
		google.load("earth", "1");

		function init() {
		  google.earth.createInstance("map3d", initCallback, failureCallback);
		}

		function initCallback(object) {
			ge = object;
			ge.getWindow().setVisibility(true);
			ge.getOptions().setStatusBarVisibility(true);
			ge.getNavigationControl().setVisibility(ge.VISIBILITY_AUTO);
			ge.getLayerRoot().enableLayerById(ge.LAYER_BORDERS, false);
			ge.getLayerRoot().enableLayerById(ge.LAYER_ROADS, false);
			ge.getLayerRoot().enableLayerById(ge.LAYER_BUILDINGS, true);
			ge.getLayerRoot().enableLayerById(ge.LAYER_TERRAIN, true);

			// Trying a network link instead
			var link = ge.createLink('');
			var href = 'https://s3.amazonaws.com/planit-impact-models/{{model.name}}';
			link.setHref(href);

			var networkLink = ge.createNetworkLink('');
			networkLink.set(link, true, true); // Sets the link, refreshVisibility, and flyToView

			ge.getFeatures().appendChild(networkLink);

			// You can use model.latitude and model.longitude to set the viewpoint to something closer.
		}

	    function failureCallback(object) {
	      alert('Didn\'t work!');
	    }

	    google.setOnLoadCallback(init);
	</script>
{% endblock %}

{% block header %}
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>    
	      <a class="brand" href="../index.html">PlanIT Impact</a>
	      <div class="nav-collapse collapse">
	        <ul class="nav pull-right animated">
		        <li><a href="#">Home </a></li>
		        <li><a href="about">About</a></li>
		        <li><a href="features">Features</a></li>
		        <li><a href="howitworks">How it Works</a></li>
		        <li class="active"><a href="/demo">Demo</a></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	</div><!--/navbar-->  
{% endblock %}

{% block main %}
	<div class="container">
		<div class="row">
			<h1 class="title span6">{{model.name}}</h1>
		</div>
		<div class="row">	
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span1">
				<div class="nav-collapse sidebar-nav tabbable">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="active"><a href="#" data-toggle="tab"><i class="fa-icon-globe"></i><span class="hidden-tablet"> Explore</span></a></li>	
						<li><a href="#" data-toggle="tab"><i class="fa-icon-tint"></i><span class="hidden-tablet"> Water Usage</span></a></li>
						<li><a href="#" data-toggle="tab"><i class="fa-icon-cloud"></i><span class="hidden-tablet"> Storm Water</span></a></li>
						<li><a href="#" data-toggle="tab"><i class="fa-icon-bolt"></i><span class="hidden-tablet"> Energy Usage</span></a></li>
						<li><a href="#" data-toggle="tab"><i class="fa-icon-leaf"></i><span class="hidden-tablet"> Greenhouse Gas</span></a></li>
						<li><a href="#" data-toggle="tab"><i class="fa-icon-trash"></i><span class="hidden-tablet"> Waste Production</span></a></li>
						<li><a href="#" data-toggle="tab"><i class="fa-icon-truck"></i><span class="hidden-tablet"> Transportation</span></a></li>
						<li><a href="#" data-toggle="tab"><i class="fa-icon-home"></i><span class="hidden-tablet"> Building Density</span></a></li>
						<li><a href="#" data-toggle="tab"><i class="fa-icon-sitemap"></i><span class="hidden-tablet"> Resource Flow</span></a></li>
						<li><a href="#" data-toggle="tab"><i class="fa-icon-money"></i><span class="hidden-tablet"> Potential ROI</span></a></li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
			
			<!-- start: Content -->
			<div id="content" class="span11 tab-content">
				<div class="tab-pane active" id="#">
					<div id="map3d"></div>
				</div>
				<div class="tab-pane" id="#">
					\
				</div>
				<div class="tab-pane" id="#">
				</div>
				<div class="tab-pane" id="#">
				    <p>Howdy, I'm in Section 4.</p>
				</div>
				<div class="tab-pane" id="#">
				    <p>Howdy, I'm in Section 5.</p>
				</div>
				<div class="tab-pane" id="#">
				    <p>Howdy, I'm in Section 6.</p>
				</div>
			</div><!-- end: Content -->
				
		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>
	</div><!--/container-->
</div>

{% endblock %}

{% block js_footer %}
{% endblock %}