{% extends "base.html" %}

{% block header %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>    
          <a class="brand" href="../index.html">PlanIT Impact</a>
	      <div class="nav-collapse collapse">
	        <ul class="nav pull-right animated">
		        <li><a href="#">Home </a></li>
		        <li><a href="about.html">About</a></li>
		        <li class="active"><a href="features.html">Features</a></li>
		        <li><a href="howitworks.html">How it Works</a></li>
		        <li><a href="newproject.html">Demo</a></li>
	        </ul>
	      </div>
        </div>
      </div>
    </div>  
{% endblock %}

{% block main %}
	<div id="header">
	  <div class="container">  
	    <div class="row">
		  <div class="span12">
		    <h1>PlanIT Impact Features</h1>
		  </div>
		</div>
	  </div>
	</div>

	<div id="content">
	  <div class="container">			
	    <div class="row">
         <div class="span8">	
			<h2>One Tool That Does it All</h2>
            <p>PlanITimpact allows you to make critical decisions sooner in the planning and design process by cross referenced 3D modeling technology, GIS mapping and resource databases.  Calculation of such critical impact factors as storm water, potable water usage, energy usage, greenhouse gas, traffic and transportation, job access, material resource flow, and the potential return on investment for various planning scenarios – all within an editable, scalable, 3D modeling environment provides the added level of intelligence currently missing from a cumbersome and expensive design process.</p>
            <p>&nbsp;</p>
   
		</div>
         
        </div>
        <hr class="dashed">	
          <div class="row">
        
          <div class="span8">	
			<h2>Empower Your Community</h2>
			<p>The visually compelling and data rich environment of planITimpact allows for client groups, constituents and civic leaders to be immersed in the planned design scenario through 3D navigation and allows them to interact with this information. By better understanding the impacts of development, communities can make smarter decisions about how and where to invest. Various scenarios can be modeled relatively quickly and edited, even in the context of a public meeting, thereby allowing for a deeper level of engagement with stakeholders.</p>
			<p>&nbsp;</p>
		  </div>
          
            </div>
            <hr class="dashed">	
          <div class="row">
		  <div class="span8">	
			<h2>Dynamic Visualization</h2>
            <p>PlanITimpact Taps open source 3D  building modeling technology – such as Sketch Up- and locates this into a  platform such as Google Earth, and cross references GeoSpatial Visual mapping  data (GIS) that are extremely data heavy, something that is not easily possible  without Google Fiber, if at all. We have already integrated in the following  data sets into the visualization:</p>
            <p><strong>Size Half GB</strong></p>
            <ul>
              <li>Soils</li>
              <li>Hydrology</li>
              <li>Bikeways</li>
              <li>2010  employment figures</li>
              <li>Sidewalks</li>
              <li>Watersheds</li>
              <li>Streams</li>
              <li>Public  transportation options</li>
            </ul>
            <p>Infographics are generated as  pop ups within the 3D model, so the information is highly interactive.&nbsp;  Also, a bar graph of the reports are able to be generated. &nbsp;</p>
<p>&nbsp;</p>
   
		</div>
          </div>
          <hr class="dashed">	
          <div class="row">
	        <div class="span8">	
				<h2>Life-Cycle Costs for ROI</h2>
	            <p>By pulling from local databases, such as utility costs and fees, tax rates and allowing for the plug in of information that is not publicly available or may be more specific to the project, our calculators can show projected life cycle costs for various design strategies.  </p>
	            <p>&nbsp;</p>
	        </div>
          </div>
        </div>
    </div>

{% endblock %}