<html>
<head>
  <title>EcoImpact</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
  <script type="text/javascript">
    var ge;
    google.load("earth", "1");

    function init() {
      google.earth.createInstance("map3d", initCallback, failureCallback);
    }

    function initCallback(object) {
      ge = object;
      ge.getWindow().setVisibility(true);
      ge.getOptions().setStatusBarVisibility(true);
      ge.getNavigationControl().setVisibility(ge.VISIBILITY_AUTO);
      ge.getLayerRoot().enableLayerById(ge.LAYER_BORDERS, false);
      ge.getLayerRoot().enableLayerById(ge.LAYER_ROADS, false);
      ge.getLayerRoot().enableLayerById(ge.LAYER_BUILDINGS, true);
      ge.getLayerRoot().enableLayerById(ge.LAYER_TERRAIN, true);

    function finished(object) {
      if (!object) {
        // wrap alerts in API callbacks and event handlers
        // in a setTimeout to prevent deadlock in some browsers
        setTimeout(function() {
          alert('Bad or null KML.');
        }, 0);
        return;
      }
      ge.getFeatures().appendChild(object);
      var la = ge.createLookAt('');
      la.set({{latitude}}, {{longitude}}, 0, ge.ALTITUDE_RELATIVE_TO_GROUND, 15, 87, 500);
      ge.getView().setAbstractView(la);         
    }

    var url = 'http://ecoimpact-ondrae.dotcloud.com/data/sample_model.kmz';
    google.earth.fetchKml(ge, url, finished);
    }

    function failureCallback(object) {
      alert('Didn\'t work!');
    }

    google.setOnLoadCallback(init);
  </script>

</head>
<body>
  <div id="map3d" style="height: 400px; width: 100%;"></div>
</body>
</html>