<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
        <title>PlanIT Impact</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Evan Clemente">
        <meta charset="utf-8">

        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/blue.css') }}" rel="stylesheet">


        <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-1.10.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endblock %}
    
      {% block head_js %}
      {% endblock %}
  </head>

  <body>
    {% block header %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block footer %}
    <div id="footer">
      <div class="container">
        <div class="row">
        </div>  
      </div>
    </div>

    <div id="copywrite">
      <div class="container">
        <div class="row">
          <div class="span12">
            <p>&copy; 2013 PlanIT Impact - <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up icon-white"></i></span></p> 
            <span class="hidden-phone" style="text-align:right;float:right">Powered by Google Fiber <img class="fiberbunny" src="{{ url_for('static', filename='img/fiberbunny.png') }}" /></span>     
          </div>      
        </div>    
      </div>    
    </div>
    {% endblock %}

    {% block js_footer %}
    {% endblock %}

  </body>
</html>