<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
        <title>PlanIT Impact</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Evan Clemente">
        <meta charset="utf-8">

        <link href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/blue.css') }}" rel="stylesheet">

        <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

        <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endblock %}
    
      {% block head_js %}
      {% endblock %}
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>    
          <a class="brand" href="/">PlanIT Impact</a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right animated">
            <li><a href="about">About</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="howitworks">How it Works</a></li>
            <li><a href="demo">Demo</a></li>
          </ul>
        </div>
        </div>
      </div>
    </div>  

    {% block main %}
    {% endblock %}

    {% block footer %}
    <div id="footer">
      <div class="container">
        <div class="row">
        </div>  
      </div>
    </div>

    <div id="copywrite">
      <div class="container">
        <div class="row">
          <div class="span12">
            <p>&copy; 2013 PlanIT Impact - <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up icon-white"></i></span></p> 
            <span class="hidden-phone" style="text-align:right;float:right">Powered by Google Fiber <img class="fiberbunny" src="{{ url_for('static', filename='img/fiberbunny.png') }}" /></span>     
          </div>      
        </div>    
      </div>    
    </div>
    {% endblock %}

    {% block js_footer %}
    {% endblock %}

  </body>
</html>