{% extends "base.html" %}

{% block head_js %}
{% endblock %}

{% block main %}

    <div id="header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>Create your project</h1>
          </div>
        </div>
      </div>
    </div>

	<div class="container">
		<div class="row">
			<div class="span4">
				<form action="{{ url_for('add_project') }}" method="post" enctype="multipart/form-data">
				  <fieldset>
				  	<h3>Create a project</h3>
                    <label>Name</label>
				    <input type="text" name="name"/>
                    <label>Description</label>
				    <input type="text" name="description"/>
				    <label>Upload a 3d model.</label>
				    <input type="file" name="file"> 
                    <br/>
					<input type="submit" value="Create" class="btn btn-primary btn-action"/>
				  </fieldset>
				</form>
			</div>
			<div class="offset5">
				<h3>Or choose an existing project</h3>
				<ol>
				{% for project in all_projects %}
				    <li>
				    	<h3>{{ project.name }}</h3>
				    	<p>{{project.description}}</p>
              <a href="/projects/{{ project.id }}/report" id="run-report" class="btn btn-action btn-success">Run Report</a>
		    	    <a href="/projects/{{ project.id }}/" class="btn btn-primary btn-action">Edit</a
				    </li>
				{% endfor %}
				</ol>
			</div>
		</div>
	</div>
{% endblock %}

{% block js_footer %}
{% endblock %}
