{% extends "base.html" %}

{% block main %}
	<div id="header">
	  <div class="container">  
	    <div class="row">
		  <div class="col-sm-12 col-md-12 col-lg-12">
		    <h1>How it Works</h1>
		  </div>
		</div>
	  </div>
	</div>

	<div id="content">
	  <div class="container">			
	    <div class="row">
		  <div class="col-sm-12 col-md-12 col-lg-12">	
			<p>Using tools that are already readily available and frequently used in the early stages of design, such as SketchUp, design iterations can be plugged into PlanIT impact.</p>
			 <img src="{{ url_for('static', filename='img/howitworks.jpg') }}" alt="ScreenShot" >
		  </div>
		  <div class="span6"></div>		  
		</div>
        
		</div>
		</div>		
	  </div>
	</div>

{% endblock %}