{% extends "base.html" %}

{% block main %}

  <div id="landing">
    <div class="container">  
      <div class="row">
      <div class="span6">
       <h2>Our goal is to create the most <b>information rich</b>, <b>user friendly</b> and <b>interactive app</b> to help designers, planners and constituents visualize scenarios of future development and better understand the <b>impacts of our current environs.</b></h2>
        <p><a href="demo" class="btn btn-primary btn-action">View Demo</a></p>  
      </div>
    </div>
    </div>
  </div>

  <div id="content" class="txt-middle">
    <div class="container"> 
    <hr class="dashed">       
      <div class="row">
        <div class="span4">
          <a class="thumbnail" href="features">
            <img alt="image" src="{{ url_for('static', filename='img/bim1.jpg') }}">
          </a>    
          <h2>Empower Your Community</h2>
          <p>&nbsp;</p>
        </div>
        <div class="span4">
          <a class="thumbnail" href="features">
            <img alt="image" src="{{ url_for('static', filename='img/bim2.jpg') }}">
          </a>
          <h2>Dynamic Visualization</h2>
          <p>&nbsp;</p>
        </div>
        <div class="span4">
          <a class="thumbnail" href="features">
            <img alt="image" src="{{ url_for('static', filename='img/bim3.jpg') }}">
          </a>
          <h2>One Tool That Does It All</h2>
          <p>&nbsp;</p>
        </div>      
      </div>
      <hr class="dashed">     
    </div>
  </div>

{% endblock %}