{% extends "base.html" %}

{% block head_js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
    <script>google.load("earth", "1");</script>
{% endblock %}

{% block header %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>    
          <a class="brand" href="../index.html">PlanIT Impact</a>
	      <div class="nav-collapse collapse">
	        <ul class="nav pull-right animated">
		        <li><a href="/">Home </a></li>
		        <li><a href="/about">About</a></li>
		        <li><a href="/features">Features</a></li>
		        <li><a href="/howitworks">How it Works</a></li>
		        <li class="active"><a href="/demo">Demo</a></li>
	        </ul>
	      </div>
        </div>
      </div>
    </div>  
{% endblock %}

{% block main %}

        <div class="container" style="margin-top: 20px">

            <div class="row">
                <div class="title span9">
                    <div class="kml">
                        <form id="dropzone" action="kmz_upload">
                        </form>
                    </div>
                    <div class="loading_kml" style="display: none"><div class="progress_bar"><div class="progress_line"></div></div></div>
                </div>
                <div class="span3">
                    <h2>Instructions</h2>
                    <p>We need to gather some information about your project in order to generate a report. The report will only include sections you fill out entirely, and the data used will be saved in your dashboard for future reference. Some data will be pulled from your KML file.</p>
                    <a href="#" id="a-run-report" class="btn btn-action btn-success">Run Report</a>
                </div>
            </div>

            <h2 style="font-weight: bold; margin-bottom: 0">{{ model.name }}</h2>
            <h2 style="margin-top: 0">Project Information</h2>

            <form id="settings-form" class="form" method="POST" enctype="multipart/form-data">
                <fieldset>

                    <div class="row">
                        <div class="span4">
                            <legend>KMZ model settings</legend>
                            <input type="file" name="file"><br/>
                        </div>
                    </div>

                    <div class="collapsing row">
                        <legend>Surface data</legend>
                        <div class="to-collapse">
                            <div class="span4">
                                <label>Garden Surface</label>
                                <input name="c5_area_p" value="{{ settings.c5_area_p }}%" readonly="readonly"/><br/>
                                <label>Impervious Surface</label>
                                <input name="c2_area_p" value="{{ settings.c2_area_p }}%" readonly="readonly"/><br/>
                            </div>
                            <div class="span4">
                                <label>Green Roof Surface</label>
                                <input name="c6_area_p" value="{{ settings.c6_area_p }}%" readonly="readonly"/><br/>
                                <label>Tree Shrub Surface</label>
                                <input name="c3_area_p" value="{{ settings.c3_area_p }}%" readonly="readonly"/><br/>
                            </div>
                            <div class="span4">
                                <label>Pavement Surface</label>
                                <input name="c4_area_p" value="{{ settings.c4_area_p }}%" readonly="readonly"/><br/>
                            </div>
                        </div>
                    </div>

                    <div class="collapsing row">
                        <legend>Storm water settings</legend>
                        <div class="to-collapse" style="display: none">
                            <div class="span4">
                                <label>Garden Surface factor</label>
                                <input name="c5" value="{{ settings.c5 }}"/><br/>
                                <label>Impervious Surface factor</label>
                                <input name="c2" value="{{ settings.c2 }}"/><br/>
                            </div>
                            <div class="span4">
                                <label>Green Roof Surface factor</label>
                                <input name="c6" value="{{ settings.c6 }}"/><br/>
                                <label>Tree Shrub factor</label>
                                <input name="c3" value="{{ settings.c3 }}"/><br/>
                            </div>
                            <div class="span4">
                                <label>Pavement Surface factor</label>
                                <input name="c4" value="{{ settings.c4 }}"/><br/>
                            </div>
                        </div>
                    </div>

                    <div class="collapsing row">
                        <legend>Water Usage Impact Factors</legend>
                        <div class="to-collapse" style="display: none">
                            <div class="span4">
                                <label>Water saver fixtures</label>
                                <input/>
                            </div>
                            <div class="span4">
                                <label>Site Irrigation Method</label>
                                <input/><br/>
                            </div>
                            <div class="span4">
                                <label>Occupant Load/Day</label>
                                <input/><br/>
                            </div>
                            <div class="span4">
                                <label>Average Hours Occupied/Day/Occupant</label>
                                <input/><br/>
                            </div>
                        </div>
                    </div>

                    <div class="collapsing row">
                        <legend>Energy Usage</legend>
                        <div class="to-collapse" style="display: none">
                        </div>
                    </div>

                    <div class="collapsing row">
                        <legend>Greenhouse Gases</legend>
                        <div class="to-collapse" style="display: none">
                        </div>
                    </div>

                    <div class="collapsing row">
                        <legend>Waste Production</legend>
                        <div class="to-collapse" style="display: none">
                        </div>
                    </div>

                    <div class="collapsing row">
                        <legend>Transportation</legend>
                        <div class="to-collapse" style="display: none">
                        </div>
                    </div>

                    <div class="collapsing row">
                        <legend>Building Density and Mix</legend>
                        <div class="to-collapse" style="display: none">
                        </div>
                    </div>

                    <div class="collapsing row">
                        <legend>Material Resource Flow</legend>
                        <div class="to-collapse" style="display: none">
                        </div>
                    </div>

                    <div class="collapsing row">
                        <legend>Potential Return of Investment</legend>
                        <div class="to-collapse" style="display: none">
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary btn-action" name="save_action" value="Save"/>
                    <input type="submit" id="submit-run-report" style="display: none" class="btn btn-primary btn-action" name="report_action" value="Run Report"/>

                    <a id="delete" class="btn btn-danger right">Delete</a>
                    </form>

                </fieldset>
            </form>



        </div>

{% endblock %}

{% block js_footer %}

    <script>

        $(function() {
            $("a#a-run-report").click(function(e) {
                e.preventDefault();
                $('#submit-run-report').click();
            });

            $('.collapsing').each(function() {
                var block = $(this);

                $('legend', block).click(function() {
                    $('.to-collapse', block).toggle('slow');
                });
            });

            $('[name=c1], [name=c2], [name=c3], [name=c4], [name=c5], [name=c6]').change(function() {
                var $input = $(this);

                var val = parseFloat($input.val()) || 0.0;
                $input.val(val.toFixed(2));
            }).change();
        });

        $(function() {
            var dropzone = new Dropzone('#dropzone', {
                url: './kmz_upload',
                clickable: false,
                accept: function(file, done) {
                    done();
                },
                sending: function() {
                    $('.kml').hide();
                    $('.loading_kml').show();
                    $('.progress_line').css('width', '0%');
                },
                uploadprogress: function(file, progress) {
                    $('.progress_line').css('width', progress + '%');
                },
                success: function() {
                    window.location.href = window.location.href;
                },
                error: function() {
                    alert('upload failed');

                    $('.kml').show();
                    $('.loading_kml').hide();
                }
            })
        });

        $(function() {
            var model_href = '{{ model.kmz_url or "" }}';
            if (model_href === '')
                return;

            $('.kml').append($('<div id="map3d"></div>'));

            var ge;

            var init = function() {
                google.earth.createInstance("map3d", initCallback, failureCallback);
            };

            var initCallback = function(object) {
                ge = object;
                ge.getWindow().setVisibility(true);
                ge.getOptions().setStatusBarVisibility(true);
                ge.getNavigationControl().setVisibility(ge.VISIBILITY_AUTO);
                //ge.getLayerRoot().enableLayerById(ge.LAYER_BORDERS, false);
                //ge.getLayerRoot().enableLayerById(ge.LAYER_ROADS, false);
                //ge.getLayerRoot().enableLayerById(ge.LAYER_BUILDINGS, true);
                //ge.getLayerRoot().enableLayerById(ge.LAYER_TERRAIN, true);

                google.earth.fetchKml(ge, model_href, function(kmlObject) {
                    if (kmlObject) {
                        ge.getFeatures().appendChild(kmlObject);
                        console.log(kmlObject);
                        var lookAt = ge.getView().copyAsLookAt(ge.ALTITUDE_RELATIVE_TO_GROUND);
                        // hard code values
                        // lookAt.setLatitude(39.08969646201485);
                        // lookAt.setLongitude(-94.58089747657677);
                        // lookAt.setAltitude(0);
                        // lookAt.setTilt(70);
                        // lookAt.setRange(130);
                        // lookAt.setHeading(70);

                        ge.getOptions().setFlyToSpeed(ge.SPEED_TELEPORT);
                        // Update the view in Google Earth.
                        ge.getView().setAbstractView(lookAt);
                    }
                });
            };

            var failureCallback = function failureCallback(object) {
              alert('Didn\'t work!');
            };

            google.setOnLoadCallback(init);
        });

        $('#delete').click(function(){
            $.post("/projects/{{ model_id }}/delete", function() {
              window.location = '/demo';
            });
        })
    </script>
{% endblock %}
